/* @import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Mukta&display=swap");

:root {
  --mainPink: #ef7998;
  --mainGreen: #94d653;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #0f1424;
  --blueTrans: rgba(33, 58, 138, 0.2);
  --greyShadow: #5e6371;
  --mainGrey: rgb(238, 238, 238);
  --rolexBlue: #3e4e7d;
  --lightrolexBlue: #44547f;
  --blueSteel: #5d6575;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  /* font-family: "Mukta", sans-serif; */
  font-family: "Assistant", sans-serif;
  background: var(--mainWhite);
  color: var(--mainBlack);
}
/* global styles */
.btn-pink {
  color: var(--mainPink);
  border-color: var(--mainPink) !important;
}

.btn-black {
  color: var(--mainBlack);
  border-color: var(--mainBlack) !important;
}

.btn-black:hover {
  color: var(--mainGreen);
  background: var(--rolexBlue) !important;
}

.btn-pink:hover {
  color: var(--mainBlack) !important;
  background: var(--mainPink) !important;
}

/* nav links */
.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--rolexBlue);
}

.nav-link {
  color: var(--greyShadow);
  transition: all 1s ease-in-out;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: var(--mainBlack);
}

/* cart styles */
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}

.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}

.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}

.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(var(--blueTrans), var(--blueTrans)),
    url(../img/rolex.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
  position: relative;
  top: 72vh;
  left: -30vw;
  /* z-index: 7; */
}

.banner-title-left {
  color: var(--mainWhite);
  font-size: 2.5 rem;
  animation: fadein 5s;
  transition: color 1s;
}

.banner-title-right {
  color: var(--mainWhite);
  font-size: 4rem;
  animation: fadein 5s;
  transition: color 1s;
}

.banner-title-left:hover {
  color: var(--rolexBlue);
}

.banner-title-right:hover {
  color: var(--mainGreen);
}

.banner-link {
  font-size: 1.5rem;
  color: var(--mainWhite);
  border: 0.2rem solid var(--mainWhite);
  animation: fadein 5s;
  transition: background-color 1s ease, color 1s ease;
}

.banner-link:hover {
  background: var(--lightrolexBlue);
  color: var(--mainGreen);
}

/* about section */
.about-title__left {
  color: var(--rolexBlue);
  font-size: 2.5 rem;
  animation: fadein 4s;
}
.about-title__right {
  color: var(--mainGreen);
  font-size: 4rem;
  animation: fadein 4s;
}

.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--blueSteel);
  z-index: -1;
  transition: all 1s linear;
}

.about-img__container:hover::before {
  top: 0px;
  left: 0px;
  outline: 0.5rem solid var(--rolexBlue);
}

/* store */
.store {
  background: var(--mainGrey);
}

.store-title__left {
  color: var(--lightrolexBlue);
  font-size: 2.5 rem;
  animation: fadein 4s;
}
.store-title__right {
  color: var(--lightrolexBlue);
  font-size: 4rem;
  animation: fadein 4s;
}

.search-box {
  background: var(--mainPink);
  color: var(--mainBlack);
}

.single-item {
  transition: all 0.3s linear;
}

.single-item:hover {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}

.img-container {
  position: relative;
  /* keeps the image in the container when it enlarges */
  overflow: hidden;
  cursor: pointer;
}

.store-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--mainYellow);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: var(--mainWhite);
}

/* services */
.services {
  color: var(--mainWhite);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/servicesBcg.jpeg") center/cover fixed no-repeat;
}

.service-title {
  letter-spacing: 0.5rem;
}

.service-text {
  word-spacing: 0.5rem;
}

/* footer */
.footer-title {
  background: var(--mainBlack);
}

.footer-contact {
  background: var(--mainGrey);
}

.footer-icon {
  font-size: 1.5rem;
  color: var(--mainWhite);
  transition: all 0.4 ease-in-out;
}

.font-icon:hover {
  color: var(--mainPink);
}

/* cart */
.cart {
  position: absolute;
  min-height: 10rem;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}

.cart-item {
  transition: all 2s ease-in-out;
}

.cart-item-remove {
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}

.cart-item-remove:hover {
  transform: scale(1.1);
  color: var(--mainBlack);
}

.cart-item-price {
  font-size: 0.8rem;
}

/* Key frames */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
